<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_scene_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1674},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1522},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1370},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1218},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1066},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,914},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,762},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,610},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,458},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,306},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>btn_scene_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_scene_atlas.png</string>
            <key>size</key>
            <string>{270,1858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b50cfab12521464628acee40aeff684:1/1$</string>
            <key>textureFileName</key>
            <string>btn_scene_atlas.png</string>
        </dict>
    </dict>
</plist>
