<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_2_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,182},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>obj_2_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,243},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>obj_2_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,177}}</string>
                <key>sourceSize</key>
                <string>{77,177}</string>
            </dict>
            <key>obj_2_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,179},{63,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,254}}</string>
                <key>sourceSize</key>
                <string>{63,254}</string>
            </dict>
            <key>obj_2_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{85,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,48}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>obj_2_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,440},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>obj_2_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,440},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>obj_2_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,71},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>obj_2_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{88,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,103}}</string>
                <key>sourceSize</key>
                <string>{88,103}</string>
            </dict>
            <key>obj_2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,300},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>obj_2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,356},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>obj_2_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{78,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,111}}</string>
                <key>sourceSize</key>
                <string>{78,111}</string>
            </dict>
            <key>obj_2_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{42,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,144}}</string>
                <key>sourceSize</key>
                <string>{42,144}</string>
            </dict>
            <key>obj_2_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>obj_2_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{110,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,45}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
            <key>obj_2_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,125},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>obj_2_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,435},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>obj_2_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,129},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>obj_2_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,474},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>obj_2_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_2_4-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d559cc4c2ac993c2d01f32fa4213f613:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_2_4-hd.png</string>
        </dict>
    </dict>
</plist>
