<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_4_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{129,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,99}}</string>
                <key>sourceSize</key>
                <string>{129,99}</string>
            </dict>
            <key>obj_4_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,312},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>obj_4_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,350}}</string>
                <key>sourceSize</key>
                <string>{48,350}</string>
            </dict>
            <key>obj_4_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,215},{31,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,84}}</string>
                <key>sourceSize</key>
                <string>{31,84}</string>
            </dict>
            <key>obj_4_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,354},{91,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,151}}</string>
                <key>sourceSize</key>
                <string>{91,151}</string>
            </dict>
            <key>obj_4_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{59,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,155}}</string>
                <key>sourceSize</key>
                <string>{59,155}</string>
            </dict>
            <key>obj_4_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>obj_4_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,240},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>obj_4_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,103},{53,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,110}}</string>
                <key>sourceSize</key>
                <string>{53,110}</string>
            </dict>
            <key>obj_4_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,240},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>obj_4_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,131},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>obj_4_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,158},{109,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,80}}</string>
                <key>sourceSize</key>
                <string>{109,80}</string>
            </dict>
            <key>obj_4_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,354},{77,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,138}}</string>
                <key>sourceSize</key>
                <string>{77,138}</string>
            </dict>
            <key>obj_4_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,318},{34,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,155}}</string>
                <key>sourceSize</key>
                <string>{34,155}</string>
            </dict>
            <key>obj_4_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,354},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>obj_4_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,101},{37,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,64}}</string>
                <key>sourceSize</key>
                <string>{37,64}</string>
            </dict>
            <key>obj_4_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,314}}</string>
                <key>sourceSize</key>
                <string>{48,314}</string>
            </dict>
            <key>obj_4_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,140},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>obj_4_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{68,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,97}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>obj_4_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{95,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,127}}</string>
                <key>sourceSize</key>
                <string>{95,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_4_4-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9171fa8fcb8512ff4b4cd4cc09242395:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_4_4-hd.png</string>
        </dict>
    </dict>
</plist>
