<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_5_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{127,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,24}}</string>
                <key>sourceSize</key>
                <string>{127,24}</string>
            </dict>
            <key>obj_5_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,254},{32,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,246}}</string>
                <key>sourceSize</key>
                <string>{32,246}</string>
            </dict>
            <key>obj_5_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,267},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>obj_5_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,237},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>obj_5_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{76,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,145}}</string>
                <key>sourceSize</key>
                <string>{76,145}</string>
            </dict>
            <key>obj_5_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,413},{14,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,84}}</string>
                <key>sourceSize</key>
                <string>{14,84}</string>
            </dict>
            <key>obj_5_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,335},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>obj_5_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,144},{91,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,112}}</string>
                <key>sourceSize</key>
                <string>{91,112}</string>
            </dict>
            <key>obj_5_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,267},{77,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,66}</string>
            </dict>
            <key>obj_5_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,453},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>obj_5_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,347},{66,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,104}}</string>
                <key>sourceSize</key>
                <string>{66,104}</string>
            </dict>
            <key>obj_5_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,377},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>obj_5_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,378}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,378}}</string>
                <key>sourceSize</key>
                <string>{63,380}</string>
            </dict>
            <key>obj_5_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,254},{121,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,66}}</string>
                <key>sourceSize</key>
                <string>{121,66}</string>
            </dict>
            <key>obj_5_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,382},{52,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,124}}</string>
                <key>sourceSize</key>
                <string>{52,124}</string>
            </dict>
            <key>obj_5_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,203},{62,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,178}}</string>
                <key>sourceSize</key>
                <string>{62,178}</string>
            </dict>
            <key>obj_5_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,80},{62,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,119}}</string>
                <key>sourceSize</key>
                <string>{62,119}</string>
            </dict>
            <key>obj_5_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{85,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,250}}</string>
                <key>sourceSize</key>
                <string>{85,250}</string>
            </dict>
            <key>obj_5_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{199,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,198}}</string>
                <key>sourceSize</key>
                <string>{199,198}</string>
            </dict>
            <key>obj_5_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,413},{84,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_5_3-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29ea471668e29275fdb0863b8d8a99b3:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_5_3-hd.png</string>
        </dict>
    </dict>
</plist>
