<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_6_3_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,415}}</string>
                <key>sourceSize</key>
                <string>{180,415}</string>
            </dict>
            <key>obj_6_3_01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,411}}</string>
                <key>sourceSize</key>
                <string>{180,411}</string>
            </dict>
            <key>obj_6_3_02_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,415},{57,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,44}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>obj_6_3_02_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{1,1}}</string>
                <key>offset</key>
                <string>{-28,21.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>obj_6_3_03_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{1,1}}</string>
                <key>offset</key>
                <string>{-33.5,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>obj_6_3_03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,419},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>obj_6_3_04_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,415},{28,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,68}}</string>
                <key>sourceSize</key>
                <string>{28,68}</string>
            </dict>
            <key>obj_6_3_04_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,415},{27,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,68}}</string>
                <key>sourceSize</key>
                <string>{27,68}</string>
            </dict>
            <key>obj_6_3_05_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>obj_6_3_05_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,419},{71,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,50}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>obj_6_3_06_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>obj_6_3_06_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>obj_6_3_07_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,58},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>obj_6_3_07_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>obj_6_3_08_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,474},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>obj_6_3_08_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{1,1}}</string>
                <key>offset</key>
                <string>{-17.5,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>obj_6_3_09_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{1,1}}</string>
                <key>offset</key>
                <string>{-22,20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>obj_6_3_09_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,54},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>obj_6_3_10_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,111},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{29,45}</string>
            </dict>
            <key>obj_6_3_10_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,98},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{29,45}</string>
            </dict>
            <key>obj_6_3_11_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,415},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>obj_6_3_11_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,415},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>obj_6_3_12_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>obj_6_3_12_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,419},{78,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{78,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_6_3-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6ea002f5ee8170bc565e0a8e44cd6a6:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_6_3-hd.png</string>
        </dict>
    </dict>
</plist>
