<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_6_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,480},{95,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,20}}</string>
                <key>sourceSize</key>
                <string>{95,20}</string>
            </dict>
            <key>obj_6_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{35,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,165}}</string>
                <key>sourceSize</key>
                <string>{35,165}</string>
            </dict>
            <key>obj_6_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,59},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>obj_6_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>obj_6_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,351},{41,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,104}}</string>
                <key>sourceSize</key>
                <string>{41,104}</string>
            </dict>
            <key>obj_6_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{41,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,72}}</string>
                <key>sourceSize</key>
                <string>{41,72}</string>
            </dict>
            <key>obj_6_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,348},{65,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,85}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>obj_6_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{204,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,182}}</string>
                <key>sourceSize</key>
                <string>{204,182}</string>
            </dict>
            <key>obj_6_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,457},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>obj_6_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,351},{57,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,91}}</string>
                <key>sourceSize</key>
                <string>{57,91}</string>
            </dict>
            <key>obj_6_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,444},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,86}}</string>
                <key>sourceSize</key>
                <string>{66,86}</string>
            </dict>
            <key>obj_6_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,297},{76,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,49}}</string>
                <key>sourceSize</key>
                <string>{76,49}</string>
            </dict>
            <key>obj_6_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,435},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>obj_6_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,350}}</string>
                <key>sourceSize</key>
                <string>{56,350}</string>
            </dict>
            <key>obj_6_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{153,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,71}}</string>
                <key>sourceSize</key>
                <string>{153,71}</string>
            </dict>
            <key>obj_6_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,208},{35,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,87}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>obj_6_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,208},{181,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,141}}</string>
                <key>sourceSize</key>
                <string>{181,141}</string>
            </dict>
            <key>obj_6_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,88},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>obj_6_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,351},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>obj_6_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,39},{69,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,47}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_6_4-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1964eb833d00d3f0edc92d95bb2fb7f:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_6_4-hd.png</string>
        </dict>
    </dict>
</plist>
