<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_5_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,367},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,86}}</string>
                <key>sourceSize</key>
                <string>{110,86}</string>
            </dict>
            <key>obj_5_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,312},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>obj_5_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>obj_5_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,303},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>obj_5_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,216},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>obj_5_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,230},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>obj_5_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,277},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>obj_5_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{245,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,130}}</string>
                <key>sourceSize</key>
                <string>{245,130}</string>
            </dict>
            <key>obj_5_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,216},{98,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,134}}</string>
                <key>sourceSize</key>
                <string>{98,134}</string>
            </dict>
            <key>obj_5_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,134},{80,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,209}}</string>
                <key>sourceSize</key>
                <string>{80,209}</string>
            </dict>
            <key>obj_5_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,224},{43,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,77}}</string>
                <key>sourceSize</key>
                <string>{43,77}</string>
            </dict>
            <key>obj_5_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,134},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>obj_5_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,306},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>obj_5_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,160},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>obj_5_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,226}}</string>
                <key>sourceSize</key>
                <string>{253,226}</string>
            </dict>
            <key>obj_5_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{79,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,130}}</string>
                <key>sourceSize</key>
                <string>{79,130}</string>
            </dict>
            <key>obj_5_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,367},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>obj_5_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>obj_5_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,293},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>obj_5_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,230},{74,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{74,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_5_1-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efdf3340d48e232b0f768998f9cde36d:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_5_1-hd.png</string>
        </dict>
    </dict>
</plist>
