<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_1_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,152},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>obj_1_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,449},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>obj_1_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{57,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,91}}</string>
                <key>sourceSize</key>
                <string>{57,91}</string>
            </dict>
            <key>obj_1_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,117},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>obj_1_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,448},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>obj_1_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,117},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>obj_1_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{55,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,113}}</string>
                <key>sourceSize</key>
                <string>{55,113}</string>
            </dict>
            <key>obj_1_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,340},{48,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>obj_1_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{148,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,79}}</string>
                <key>sourceSize</key>
                <string>{148,79}</string>
            </dict>
            <key>obj_1_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,158},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,76}}</string>
                <key>sourceSize</key>
                <string>{98,76}</string>
            </dict>
            <key>obj_1_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,102},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>obj_1_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>obj_1_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,281},{102,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,47}}</string>
                <key>sourceSize</key>
                <string>{102,47}</string>
            </dict>
            <key>obj_1_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,154}}</string>
                <key>sourceSize</key>
                <string>{112,154}</string>
            </dict>
            <key>obj_1_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,383},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>obj_1_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,158},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,48}}</string>
                <key>sourceSize</key>
                <string>{121,48}</string>
            </dict>
            <key>obj_1_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,385},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>obj_1_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>obj_1_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,258},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>obj_1_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{105,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,139}}</string>
                <key>sourceSize</key>
                <string>{105,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_1_1-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da7d1f4d7543176e7650f16ebd0f9355:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_1_1-hd.png</string>
        </dict>
    </dict>
</plist>
