<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_2_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>obj_2_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{63,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,186}}</string>
                <key>sourceSize</key>
                <string>{63,186}</string>
            </dict>
            <key>obj_2_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,328},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>obj_2_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,86},{54,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,77}}</string>
                <key>sourceSize</key>
                <string>{54,77}</string>
            </dict>
            <key>obj_2_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,466},{30,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,75}}</string>
                <key>sourceSize</key>
                <string>{30,75}</string>
            </dict>
            <key>obj_2_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,227},{82,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,99}}</string>
                <key>sourceSize</key>
                <string>{82,99}</string>
            </dict>
            <key>obj_2_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>obj_2_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,86},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>obj_2_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{70,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,223}}</string>
                <key>sourceSize</key>
                <string>{70,223}</string>
            </dict>
            <key>obj_2_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{32,55}</string>
            </dict>
            <key>obj_2_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,221},{93,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,48}}</string>
                <key>sourceSize</key>
                <string>{93,48}</string>
            </dict>
            <key>obj_2_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,188},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>obj_2_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,425},{85,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,62}}</string>
                <key>sourceSize</key>
                <string>{85,62}</string>
            </dict>
            <key>obj_2_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,190},{29,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{29,74}</string>
            </dict>
            <key>obj_2_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,316},{48,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,87}}</string>
                <key>sourceSize</key>
                <string>{48,87}</string>
            </dict>
            <key>obj_2_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,405},{67,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{67,83}</string>
            </dict>
            <key>obj_2_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,334}}</string>
                <key>sourceSize</key>
                <string>{52,334}</string>
            </dict>
            <key>obj_2_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,165},{21,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,73}}</string>
                <key>sourceSize</key>
                <string>{21,73}</string>
            </dict>
            <key>obj_2_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,227},{20,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,109}}</string>
                <key>sourceSize</key>
                <string>{20,109}</string>
            </dict>
            <key>obj_2_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{95,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,126}}</string>
                <key>sourceSize</key>
                <string>{95,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_2_2-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c78c6dd0c1ec6bfc1bc5c6dd73e3b97:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_2_2-hd.png</string>
        </dict>
    </dict>
</plist>
