<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>puzzle_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,135},{160,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,144}}</string>
                <key>sourceSize</key>
                <string>{160,144}</string>
            </dict>
            <key>puzzle_1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,268},{142,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,154}}</string>
                <key>sourceSize</key>
                <string>{142,154}</string>
            </dict>
            <key>puzzle_1_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,281},{149,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,108}}</string>
                <key>sourceSize</key>
                <string>{149,108}</string>
            </dict>
            <key>puzzle_1_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,412},{130,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,145}}</string>
                <key>sourceSize</key>
                <string>{130,145}</string>
            </dict>
            <key>puzzle_1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{169,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>puzzle_1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{152,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,160}}</string>
                <key>sourceSize</key>
                <string>{152,160}</string>
            </dict>
            <key>puzzle_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,122}}</string>
                <key>sourceSize</key>
                <string>{185,122}</string>
            </dict>
            <key>puzzle_1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{146,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,139}}</string>
                <key>sourceSize</key>
                <string>{146,139}</string>
            </dict>
            <key>puzzle_1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,391},{131,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,148}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>puzzle_1_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>puzzle_1_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{149,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,135}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>puzzle_1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,139},{127,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,158}}</string>
                <key>sourceSize</key>
                <string>{127,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>puzzle_atlas_1_4-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5efced5dae82883816aab95bd22a3cc:1/1$</string>
            <key>textureFileName</key>
            <string>puzzle_atlas_1_4-hd.png</string>
        </dict>
    </dict>
</plist>
