<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>k-0-0</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a0s8d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a0s8d2-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a0s8d2-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a0s8d3-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a0s8d3-2</string>
		</dict>
	</array>
	<key>k-1-1</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s1d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s1d2-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s1d2-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s1d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s1d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s1d5</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s1d6</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s1d7</string>
		</dict>
	</array>
	<key>k-1-2</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s2d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s2d2-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s2d2-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s2d2-3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s2d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s2d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s2d5</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s2d6</string>
		</dict>
	</array>
	<key>k-1-4</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s4d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s4d2-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s4d2-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s4d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s4d4</string>
		</dict>
	</array>
	<key>k-1-5</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a1s5d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a1s5d2</string>
		</dict>
	</array>
	<key>k-2-1</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s1d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a2s1d2-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a2s1d2-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s1d3</string>
		</dict>
	</array>
	<key>k-2-2</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s2d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a2s2d2</string>
		</dict>
	</array>
	<key>k-2-4</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s4d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a2s4d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s4d3</string>
		</dict>
	</array>
	<key>k-2-5</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a2s5d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s5d2-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s5d2-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a2s5d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s5d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a2s5d5</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a2s5d6</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a2s5d7</string>
		</dict>
	</array>
	<key>k-3-2</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s2d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s2d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s2d3</string>
		</dict>
	</array>
	<key>k-3-3</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s3d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s3d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s3d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s3d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s3d5</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s3d6</string>
		</dict>
	</array>
	<key>k-3-4</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s4d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s4d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s4d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s4d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s4d5</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s4d6</string>
		</dict>
	</array>
	<key>k-3-5</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s5d1-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s5d1-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a3s5d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a3s5d3</string>
		</dict>
	</array>
	<key>k-4-1</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s1d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s1d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s1d3</string>
		</dict>
	</array>
	<key>k-4-3</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s3d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s3d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s3d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s3d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s3d5</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s3d6</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s3d7</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s3d8-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s3d8-2</string>
		</dict>
	</array>
	<key>k-4-4</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s4d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s4d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s4d3</string>
		</dict>
	</array>
	<key>k-4-5</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s5d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s5d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s5d3-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a4s5d3-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a4s5d4</string>
		</dict>
	</array>
	<key>k-5-1</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s1d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a5s1d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s1d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a5s1d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s1d5</string>
		</dict>
	</array>
	<key>k-5-3</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s3d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a5s3d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s3d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a5s3d4</string>
		</dict>
	</array>
	<key>k-5-4</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s4d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a5s4d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s4d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a5s4d4</string>
		</dict>
	</array>
	<key>k-5-5</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s5d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a5s5d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s5d3-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a5s5d3-2</string>
		</dict>
	</array>
	<key>k-6-1</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s1d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a6s1d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s1d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a6s1d4</string>
		</dict>
	</array>
	<key>k-6-2</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s2d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a6s2d2</string>
		</dict>
	</array>
	<key>k-6-4</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a6s4d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s4d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a6s4d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s4d4-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s4d4-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a6s4d5</string>
		</dict>
	</array>
	<key>k-6-5</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s5d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a6s5d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s5d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a6s5d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a6s5d5</string>
		</dict>
	</array>
	<key>k-7-1</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s1d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s1d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s1d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s1d4</string>
		</dict>
	</array>
	<key>k-7-2</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s2d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s2d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s2d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s2d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s2d5</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s2d6</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s2d7</string>
		</dict>
	</array>
	<key>k-7-4</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s4d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s4d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s4d3-1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s4d3-2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s4d4</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s4d5</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s4d6</string>
		</dict>
	</array>
	<key>k-7-5</key>
	<array>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s5d1</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s5d2</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>1</string>
			<key>kDialogueId</key>
			<string>a7s5d3</string>
		</dict>
		<dict>
			<key>kDetectiveId</key>
			<string>2</string>
			<key>kDialogueId</key>
			<string>a7s5d4</string>
		</dict>
	</array>
</dict>
</plist>
