<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>k-1-4</key>
	<array>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_1.png</string>
			<key>kAnchorPosition</key>
			<string>{1.4,185.9}</string>
			<key>kTag</key>
			<string>1</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_2.png</string>
			<key>kAnchorPosition</key>
			<string>{1.8,127.4}</string>
			<key>kTag</key>
			<string>2</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_3.png</string>
			<key>kAnchorPosition</key>
			<string>{5.4,54.9}</string>
			<key>kTag</key>
			<string>3</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_4.png</string>
			<key>kAnchorPosition</key>
			<string>{3.4,1.1}</string>
			<key>kTag</key>
			<string>4</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_5.png</string>
			<key>kAnchorPosition</key>
			<string>{70.7,191.5}</string>
			<key>kTag</key>
			<string>5</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_6.png</string>
			<key>kAnchorPosition</key>
			<string>{79,122}</string>
			<key>kTag</key>
			<string>6</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_7.png</string>
			<key>kAnchorPosition</key>
			<string>{72.7,61.7}</string>
			<key>kTag</key>
			<string>7</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_8.png</string>
			<key>kAnchorPosition</key>
			<string>{81,1.4}</string>
			<key>kTag</key>
			<string>8</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_9.png</string>
			<key>kAnchorPosition</key>
			<string>{140.9,182.9}</string>
			<key>kTag</key>
			<string>9</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_10.png</string>
			<key>kAnchorPosition</key>
			<string>{133.9,115}</string>
			<key>kTag</key>
			<string>10</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_11.png</string>
			<key>kAnchorPosition</key>
			<string>{132.5,68.4}</string>
			<key>kTag</key>
			<string>11</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_1_4_12.png</string>
			<key>kAnchorPosition</key>
			<string>{145.6,1.6}</string>
			<key>kTag</key>
			<string>12</string>
		</dict>
	</array>
	<key>k-3-4</key>
	<array>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_1.png</string>
			<key>kAnchorPosition</key>
			<string>{0,199}</string>
			<key>kTag</key>
			<string>1</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_2.png</string>
			<key>kAnchorPosition</key>
			<string>{0,130}</string>
			<key>kTag</key>
			<string>2</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_3.png</string>
			<key>kAnchorPosition</key>
			<string>{0,62}</string>
			<key>kTag</key>
			<string>3</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_4.png</string>
			<key>kAnchorPosition</key>
			<string>{0,0}</string>
			<key>kTag</key>
			<string>4</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_5.png</string>
			<key>kAnchorPosition</key>
			<string>{70,197}</string>
			<key>kTag</key>
			<string>5</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_6.png</string>
			<key>kAnchorPosition</key>
			<string>{66,135}</string>
			<key>kTag</key>
			<string>6</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_7.png</string>
			<key>kAnchorPosition</key>
			<string>{64,60}</string>
			<key>kTag</key>
			<string>7</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_8.png</string>
			<key>kAnchorPosition</key>
			<string>{56,0}</string>
			<key>kTag</key>
			<string>8</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_9.png</string>
			<key>kAnchorPosition</key>
			<string>{135,194}</string>
			<key>kTag</key>
			<string>9</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_10.png</string>
			<key>kAnchorPosition</key>
			<string>{133,137}</string>
			<key>kTag</key>
			<string>10</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_11.png</string>
			<key>kAnchorPosition</key>
			<string>{135,60}</string>
			<key>kTag</key>
			<string>11</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_3_4_12.png</string>
			<key>kAnchorPosition</key>
			<string>{133,0}</string>
			<key>kTag</key>
			<string>12</string>
		</dict>
	</array>
	<key>k-5-1</key>
	<array>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_1.png</string>
			<key>kAnchorPosition</key>
			<string>{0,180}</string>
			<key>kTag</key>
			<string>1</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_2.png</string>
			<key>kAnchorPosition</key>
			<string>{0,90}</string>
			<key>kTag</key>
			<string>2</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_3.png</string>
			<key>kAnchorPosition</key>
			<string>{0,0}</string>
			<key>kTag</key>
			<string>3</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_4.png</string>
			<key>kAnchorPosition</key>
			<string>{90,180}</string>
			<key>kTag</key>
			<string>4</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_5.png</string>
			<key>kAnchorPosition</key>
			<string>{90,90}</string>
			<key>kTag</key>
			<string>5</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_6.png</string>
			<key>kAnchorPosition</key>
			<string>{90,0}</string>
			<key>kTag</key>
			<string>6</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_7.png</string>
			<key>kAnchorPosition</key>
			<string>{180,180}</string>
			<key>kTag</key>
			<string>7</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_8.png</string>
			<key>kAnchorPosition</key>
			<string>{180,90}</string>
			<key>kTag</key>
			<string>8</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_5_1_9.png</string>
			<key>kAnchorPosition</key>
			<string>{180,0}</string>
			<key>kTag</key>
			<string>9</string>
		</dict>
	</array>
	<key>k-6-2</key>
	<array>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_1.png</string>
			<key>kAnchorPosition</key>
			<string>{0,180}</string>
			<key>kTag</key>
			<string>1</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_2.png</string>
			<key>kAnchorPosition</key>
			<string>{0,90}</string>
			<key>kTag</key>
			<string>2</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_3.png</string>
			<key>kAnchorPosition</key>
			<string>{0,0}</string>
			<key>kTag</key>
			<string>3</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_4.png</string>
			<key>kAnchorPosition</key>
			<string>{90,180}</string>
			<key>kTag</key>
			<string>4</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_5.png</string>
			<key>kAnchorPosition</key>
			<string>{90,90}</string>
			<key>kTag</key>
			<string>5</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_6.png</string>
			<key>kAnchorPosition</key>
			<string>{90,0}</string>
			<key>kTag</key>
			<string>6</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_7.png</string>
			<key>kAnchorPosition</key>
			<string>{180,180}</string>
			<key>kTag</key>
			<string>7</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_8.png</string>
			<key>kAnchorPosition</key>
			<string>{180,90}</string>
			<key>kTag</key>
			<string>8</string>
		</dict>
		<dict>
			<key>kImageName</key>
			<string>puzzle_6_2_9.png</string>
			<key>kAnchorPosition</key>
			<string>{180,0}</string>
			<key>kTag</key>
			<string>9</string>
		</dict>
	</array>
</dict>
</plist>
