<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>k-1-1</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_1.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_1_1.png</string>
		<key>kEvidenceTextKey</key>
		<string>s1e1</string>
		<key>kEvidenceAniImage</key>
		<string>evidence_1_1_ani.png</string>
		<key>kEvidenceAniPosition</key>
		<string>{646,240}</string>
		<key>kBlinkObjectTag</key>
		<string>20</string>
		<key>kScenePosition</key>
		<string>{0,-72}</string>
	</dict>
	<key>k-1-2</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_2.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_1_2.png</string>
		<key>kEvidenceTextKey</key>
		<string>s1e2</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-59}</string>
	</dict>
	<key>k-1-3</key>
	<dict>
		<key>kMainGame</key>
		<string>find_difference_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string></string>
		<key>kEvidenceImage</key>
		<string></string>
		<key>kEvidenceTextKey</key>
		<string></string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string></string>
	</dict>
	<key>k-1-4</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string>jigsaw_puzzle_game</string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_3.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_1_4.png</string>
		<key>kEvidenceTextKey</key>
		<string>s1e3</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-37}</string>
	</dict>
	<key>k-2-1</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_1.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_2_1.png</string>
		<key>kEvidenceTextKey</key>
		<string>s2e1</string>
		<key>kEvidenceAniImage</key>
		<string>evidence_2_1_ani.png</string>
		<key>kEvidenceAniPosition</key>
		<string>{84,213}</string>
		<key>kBlinkObjectTag</key>
		<string>20</string>
		<key>kScenePosition</key>
		<string>{0,-97}</string>
	</dict>
	<key>k-2-2</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string>pixel_sudoku_game</string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_2.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_2_2.png</string>
		<key>kEvidenceTextKey</key>
		<string>s2e2</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string>20</string>
		<key>kScenePosition</key>
		<string>{0,-97}</string>
	</dict>
	<key>k-2-3</key>
	<dict>
		<key>kMainGame</key>
		<string>find_difference_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string></string>
		<key>kEvidenceImage</key>
		<string></string>
		<key>kEvidenceTextKey</key>
		<string></string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string></string>
	</dict>
	<key>k-2-4</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_3.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_2_4.png</string>
		<key>kEvidenceTextKey</key>
		<string>s2e3</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-97}</string>
	</dict>
	<key>k-3-1</key>
	<dict>
		<key>kMainGame</key>
		<string>find_difference_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string></string>
		<key>kEvidenceImage</key>
		<string></string>
		<key>kEvidenceTextKey</key>
		<string></string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string></string>
	</dict>
	<key>k-3-2</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_1.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_3_2.png</string>
		<key>kEvidenceTextKey</key>
		<string>s3e1</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-57}</string>
	</dict>
	<key>k-3-3</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_2.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_3_3.png</string>
		<key>kEvidenceImage1</key>
		<string>evidence_3_3_1.png</string>
		<key>kEvidenceImage2</key>
		<string>evidence_3_3_2.png</string>
		<key>kEvidenceTextKey</key>
		<string>s3e2</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-47}</string>
	</dict>
	<key>k-3-4</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string>jigsaw_puzzle_game</string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_3.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_3_4.png</string>
		<key>kEvidenceTextKey</key>
		<string>s3e3</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string>20</string>
		<key>kScenePosition</key>
		<string>{0,-57}</string>
	</dict>
	<key>k-4-1</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_1.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_4_1.png</string>
		<key>kEvidenceTextKey</key>
		<string>s4e1</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-17}</string>
	</dict>
	<key>k-4-2</key>
	<dict>
		<key>kMainGame</key>
		<string>find_difference_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string></string>
		<key>kEvidenceImage</key>
		<string></string>
		<key>kEvidenceTextKey</key>
		<string></string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string></string>
	</dict>
	<key>k-4-3</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_2.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_4_3.png</string>
		<key>kEvidenceTextKey</key>
		<string>s4e2</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-13}</string>
	</dict>
	<key>k-4-4</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string>pixel_sudoku_game</string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_3.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_4_4.png</string>
		<key>kEvidenceTextKey</key>
		<string>s4e3</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string>20</string>
		<key>kScenePosition</key>
		<string>{0,-17}</string>
	</dict>
	<key>k-5-1</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string>connecting_puzzle_game</string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_1.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_5_1.png</string>
		<key>kEvidenceTextKey</key>
		<string>s5e1</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string>20</string>
		<key>kScenePosition</key>
		<string>{0,-68}</string>
	</dict>
	<key>k-5-2</key>
	<dict>
		<key>kMainGame</key>
		<string>find_difference_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string></string>
		<key>kEvidenceImage</key>
		<string></string>
		<key>kEvidenceTextKey</key>
		<string></string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string></string>
	</dict>
	<key>k-5-3</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_2.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_5_3.png</string>
		<key>kEvidenceTextKey</key>
		<string>s5e2</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-18}</string>
	</dict>
	<key>k-5-4</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_3.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_5_4.png</string>
		<key>kEvidenceTextKey</key>
		<string>s5e3</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-97}</string>
	</dict>
	<key>k-6-1</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_1.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_6_1.png</string>
		<key>kEvidenceTextKey</key>
		<string>s6e1</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-57}</string>
	</dict>
	<key>k-6-2</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string>connecting_puzzle_game</string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_2.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_6_2.png</string>
		<key>kEvidenceTextKey</key>
		<string>s6e2</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string>20</string>
		<key>kScenePosition</key>
		<string>{0,-20}</string>
	</dict>
	<key>k-6-3</key>
	<dict>
		<key>kMainGame</key>
		<string>find_difference_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string></string>
		<key>kEvidenceImage</key>
		<string></string>
		<key>kEvidenceTextKey</key>
		<string></string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string></string>
	</dict>
	<key>k-6-4</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_3.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_6_3.png</string>
		<key>kEvidenceTextKey</key>
		<string>s6e3</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-39}</string>
	</dict>
	<key>k-7-1</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string>pixel_sudoku_game</string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_1.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_7_1.png</string>
		<key>kEvidenceTextKey</key>
		<string>s7e1</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string>20</string>
		<key>kScenePosition</key>
		<string>{0,-42}</string>
	</dict>
	<key>k-7-2</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_2.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_7_2.png</string>
		<key>kEvidenceTextKey</key>
		<string>s7e2</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-18}</string>
	</dict>
	<key>k-7-3</key>
	<dict>
		<key>kMainGame</key>
		<string>find_difference_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string></string>
		<key>kEvidenceImage</key>
		<string></string>
		<key>kEvidenceTextKey</key>
		<string></string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string></string>
	</dict>
	<key>k-7-4</key>
	<dict>
		<key>kMainGame</key>
		<string>hidden_object_game</string>
		<key>kPuzzleGame</key>
		<string></string>
		<key>kEvidencePanelImage</key>
		<string>bkg_evidence_3.png</string>
		<key>kEvidenceImage</key>
		<string>evidence_7_4.png</string>
		<key>kEvidenceTextKey</key>
		<string>s7e3</string>
		<key>kEvidenceAniImage</key>
		<string></string>
		<key>kBlinkObjectTag</key>
		<string></string>
		<key>kScenePosition</key>
		<string>{0,-40}</string>
	</dict>
</dict>
</plist>
