<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>k-1</key>
	<dict>
		<key>kSuspectName</key>
		<string>s1n1</string>
		<key>kImageForSuspectList</key>
		<string>icon_photo_annie.png</string>
		<key>kImageForDisable</key>
		<string>icon_photo_annie_disable.png</string>
		<key>kImageForDialogue</key>
		<string>char_annie_front_2.png</string>
		<key>kFileKey</key>
		<string>s1p1</string>
		<key>kMotivationKeys</key>
		<array>
			<string>s1m1</string>
			<string>s1m2</string>
		</array>
		<key>kTestimonyKeys</key>
		<array>
			<string>s1t1</string>
			<string>s1t2</string>
			<string>s1t3</string>
		</array>
		<key>kEvidenceKeys</key>
		<array>
			<string>s1e1</string>
			<string>s1e2</string>
			<string>s1e3</string>
		</array>
		<key>kEvidenceImages</key>
		<array>
			<string>icon_evidence_1_1.png</string>
			<string>icon_evidence_1_2.png</string>
			<string>icon_evidence_1_4.png</string>
		</array>
	</dict>
	<key>k-2</key>
	<dict>
		<key>kSuspectName</key>
		<string>s2n1</string>
		<key>kImageForSuspectList</key>
		<string>icon_photo_johnny.png</string>
		<key>kImageForDisable</key>
		<string>icon_photo_johnny_disable.png</string>
		<key>kImageForDialogue</key>
		<string>char_johnny_front_2.png</string>
		<key>kFileKey</key>
		<string>s2p1</string>
		<key>kMotivationKeys</key>
		<array>
			<string>s2m1</string>
			<string>s2m2</string>
		</array>
		<key>kTestimonyKeys</key>
		<array>
			<string>s2t1</string>
			<string>s2t2</string>
			<string>s2t3</string>
			<string>s2t4</string>
			<string>s2t5</string>
		</array>
		<key>kEvidenceKeys</key>
		<array>
			<string>s2e1</string>
			<string>s2e2</string>
			<string>s2e3</string>
		</array>
		<key>kEvidenceImages</key>
		<array>
			<string>icon_evidence_2_1.png</string>
			<string>icon_evidence_2_2.png</string>
			<string>icon_evidence_2_3.png</string>
		</array>
	</dict>
	<key>k-3</key>
	<dict>
		<key>kSuspectName</key>
		<string>s3n1</string>
		<key>kImageForSuspectList</key>
		<string>icon_photo_emily.png</string>
		<key>kImageForDisable</key>
		<string>icon_photo_emily_disable.png</string>
		<key>kImageForDialogue</key>
		<string>char_emily_front_2.png</string>
		<key>kFileKey</key>
		<string>s3p1</string>
		<key>kMotivationKeys</key>
		<array>
			<string>s3m1</string>
			<string>s3m2</string>
		</array>
		<key>kTestimonyKeys</key>
		<array>
			<string>s3t1</string>
			<string>s3t2</string>
			<string>s3t3</string>
			<string>s3t4</string>
			<string>s3t5</string>
		</array>
		<key>kEvidenceKeys</key>
		<array>
			<string>s3e1</string>
			<string>s3e2</string>
			<string>s3e3</string>
		</array>
		<key>kEvidenceImages</key>
		<array>
			<string>icon_evidence_3_1.png</string>
			<string>icon_evidence_3_2.png</string>
			<string>icon_evidence_3_4.png</string>
		</array>
	</dict>
	<key>k-4</key>
	<dict>
		<key>kSuspectName</key>
		<string>s4n1</string>
		<key>kImageForSuspectList</key>
		<string>icon_photo_pierre.png</string>
		<key>kImageForDisable</key>
		<string>icon_photo_pierre_disable.png</string>
		<key>kImageForDialogue</key>
		<string>char_pierre_front_2.png</string>
		<key>kFileKey</key>
		<string>s4p1</string>
		<key>kMotivationKeys</key>
		<array>
			<string>s4m1</string>
			<string>s4m2</string>
		</array>
		<key>kTestimonyKeys</key>
		<array>
			<string>s4t1</string>
			<string>s4t2</string>
			<string>s4t3</string>
			<string>s4t4</string>
		</array>
		<key>kEvidenceKeys</key>
		<array>
			<string>s4e1</string>
			<string>s4e2</string>
			<string>s4e3</string>
		</array>
		<key>kEvidenceImages</key>
		<array>
			<string>icon_evidence_4_1.png</string>
			<string>icon_evidence_4_2.png</string>
			<string>icon_evidence_4_3.png</string>
		</array>
	</dict>
	<key>k-5</key>
	<dict>
		<key>kSuspectName</key>
		<string>s5n1</string>
		<key>kImageForSuspectList</key>
		<string>icon_photo_ryan.png</string>
		<key>kImageForDisable</key>
		<string>icon_photo_ryan_disable.png</string>
		<key>kImageForDialogue</key>
		<string>char_ryan_front_2.png</string>
		<key>kFileKey</key>
		<string>s5p1</string>
		<key>kMotivationKeys</key>
		<array>
			<string>s5m1</string>
			<string>s5m2</string>
		</array>
		<key>kTestimonyKeys</key>
		<array>
			<string>s5t1</string>
			<string>s5t2</string>
			<string>s5t3</string>
			<string>s5t4</string>
			<string>s5t5</string>
		</array>
		<key>kEvidenceKeys</key>
		<array>
			<string>s5e1</string>
			<string>s5e2</string>
			<string>s5e3</string>
		</array>
		<key>kEvidenceImages</key>
		<array>
			<string>icon_evidence_5_1.png</string>
			<string>icon_evidence_5_2.png</string>
			<string>icon_evidence_5_3.png</string>
		</array>
	</dict>
	<key>k-6</key>
	<dict>
		<key>kSuspectName</key>
		<string>s6n1</string>
		<key>kImageForSuspectList</key>
		<string>icon_photo_robert.png</string>
		<key>kImageForDisable</key>
		<string>icon_photo_robert_disable.png</string>
		<key>kImageForDialogue</key>
		<string>char_robert_front_2.png</string>
		<key>kFileKey</key>
		<string>s6p1</string>
		<key>kMotivationKeys</key>
		<array>
			<string>s6m1</string>
			<string>s6m2</string>
		</array>
		<key>kTestimonyKeys</key>
		<array>
			<string>s6t1</string>
			<string>s6t2</string>
			<string>s6t3</string>
			<string>s6t4</string>
		</array>
		<key>kEvidenceKeys</key>
		<array>
			<string>s6e1</string>
			<string>s6e2</string>
			<string>s6e3</string>
		</array>
		<key>kEvidenceImages</key>
		<array>
			<string>icon_evidence_6_1.png</string>
			<string>icon_evidence_6_2.png</string>
			<string>icon_evidence_6_3.png</string>
		</array>
	</dict>
	<key>k-7</key>
	<dict>
		<key>kSuspectName</key>
		<string>s7n1</string>
		<key>kImageForSuspectList</key>
		<string>icon_photo_michelle.png</string>
		<key>kImageForDisable</key>
		<string>icon_photo_michelle_disable.png</string>
		<key>kImageForDialogue</key>
		<string>char_michelle_front_2.png</string>
		<key>kFileKey</key>
		<string>s7p1</string>
		<key>kMotivationKeys</key>
		<array>
			<string>s7m1</string>
			<string>s7m2</string>
		</array>
		<key>kTestimonyKeys</key>
		<array>
			<string>s7t1</string>
			<string>s7t2</string>
			<string>s7t3</string>
			<string>s7t4</string>
			<string>s7t5</string>
		</array>
		<key>kEvidenceKeys</key>
		<array>
			<string>s7e1</string>
			<string>s7e2</string>
			<string>s7e3</string>
		</array>
		<key>kEvidenceImages</key>
		<array>
			<string>icon_evidence_7_1.png</string>
			<string>icon_evidence_7_2.png</string>
			<string>icon_evidence_7_4.png</string>
		</array>
	</dict>
</dict>
</plist>
