<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_5_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>obj_5_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,195},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>obj_5_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>obj_5_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,162},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>obj_5_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,159},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>obj_5_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>obj_5_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,159},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>obj_5_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{123,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,65}}</string>
                <key>sourceSize</key>
                <string>{123,65}</string>
            </dict>
            <key>obj_5_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,111},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
            <key>obj_5_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,69},{40,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,105}}</string>
                <key>sourceSize</key>
                <string>{40,105}</string>
            </dict>
            <key>obj_5_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,195},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>obj_5_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,69},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>obj_5_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,236},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>obj_5_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,117},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>obj_5_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,113}}</string>
                <key>sourceSize</key>
                <string>{127,113}</string>
            </dict>
            <key>obj_5_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,117},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>obj_5_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,150},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>obj_5_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,229},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>obj_5_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,195},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>obj_5_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,111},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_5_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5931987672e7c18bf350924d89a3f711:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_5_1.png</string>
        </dict>
    </dict>
</plist>
