<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_6_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,95},{48,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,10}}</string>
                <key>sourceSize</key>
                <string>{48,10}</string>
            </dict>
            <key>obj_6_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,61},{18,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,83}}</string>
                <key>sourceSize</key>
                <string>{18,83}</string>
            </dict>
            <key>obj_6_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,146},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>obj_6_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,73},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>obj_6_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{21,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,52}}</string>
                <key>sourceSize</key>
                <string>{21,52}</string>
            </dict>
            <key>obj_6_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>obj_6_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,143},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>obj_6_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>obj_6_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,40},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>obj_6_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,95},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>obj_6_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,28},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>obj_6_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,25},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>obj_6_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,52},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>obj_6_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,175}}</string>
                <key>sourceSize</key>
                <string>{28,175}</string>
            </dict>
            <key>obj_6_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,95},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>obj_6_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,95},{18,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,44}}</string>
                <key>sourceSize</key>
                <string>{18,44}</string>
            </dict>
            <key>obj_6_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>obj_6_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,91},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>obj_6_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,179},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>obj_6_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_6_4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dbc2503d8102fa9fb8f58a0bd2ee0a4:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_6_4.png</string>
        </dict>
    </dict>
</plist>
