<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_3_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,41},{21,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,39}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
            <key>obj_3_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{21,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,75}}</string>
                <key>sourceSize</key>
                <string>{21,75}</string>
            </dict>
            <key>obj_3_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,130},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,35}</string>
            </dict>
            <key>obj_3_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,205}}</string>
                <key>sourceSize</key>
                <string>{34,205}</string>
            </dict>
            <key>obj_3_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,184},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>obj_3_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,194},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>obj_3_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>obj_3_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,126},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>obj_3_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{32,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,93}}</string>
                <key>sourceSize</key>
                <string>{32,93}</string>
            </dict>
            <key>obj_3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,36},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>obj_3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,25},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>obj_3_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,84},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>obj_3_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{15,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,37}}</string>
                <key>sourceSize</key>
                <string>{15,37}</string>
            </dict>
            <key>obj_3_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,43},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>obj_3_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{45,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>obj_3_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,84},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>obj_3_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,84},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>obj_3_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,36},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>obj_3_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,78},{13,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,50}}</string>
                <key>sourceSize</key>
                <string>{13,50}</string>
            </dict>
            <key>obj_3_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,130},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_3_4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:192a06ace2e2d97f7ddeed8c47da128f:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_3_4.png</string>
        </dict>
    </dict>
</plist>
