<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_3_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,221},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>obj_3_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,167},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>obj_3_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>obj_3_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{12,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,41}}</string>
                <key>sourceSize</key>
                <string>{12,41}</string>
            </dict>
            <key>obj_3_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,76},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>obj_3_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,204},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>obj_3_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,232},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>obj_3_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,127},{16,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,55}}</string>
                <key>sourceSize</key>
                <string>{16,55}</string>
            </dict>
            <key>obj_3_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,123},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>obj_3_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,59},{14,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,64}}</string>
                <key>sourceSize</key>
                <string>{14,64}</string>
            </dict>
            <key>obj_3_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,76},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>obj_3_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>obj_3_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,194},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>obj_3_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,123},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>obj_3_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>obj_3_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,40},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>obj_3_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{69,55}</string>
            </dict>
            <key>obj_3_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,99},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>obj_3_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,167},{17,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,34}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>obj_3_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_3_3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f6080204c841bf9d6196e0c279bc01e:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_3_3.png</string>
        </dict>
    </dict>
</plist>
