<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_4_2_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,96}}</string>
                <key>sourceSize</key>
                <string>{47,96}</string>
            </dict>
            <key>obj_4_2_01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{43,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{43,79}</string>
            </dict>
            <key>obj_4_2_02_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,178},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>obj_4_2_02_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,58},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>obj_4_2_03_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>obj_4_2_03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>obj_4_2_04_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,151},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>obj_4_2_04_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,61},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>obj_4_2_05_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,92},{17,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,49}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>obj_4_2_05_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{1,1}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>obj_4_2_06_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>obj_4_2_06_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,163},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>obj_4_2_07_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>obj_4_2_07_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,93},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>obj_4_2_08_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,180},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>obj_4_2_08_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,92},{20,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,53}}</string>
                <key>sourceSize</key>
                <string>{20,53}</string>
            </dict>
            <key>obj_4_2_09_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{1,1}}</string>
                <key>offset</key>
                <string>{-11,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>obj_4_2_09_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,204},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>obj_4_2_10_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,181},{64,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,13}}</string>
                <key>sourceSize</key>
                <string>{64,13}</string>
            </dict>
            <key>obj_4_2_10_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,100},{61,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,13}}</string>
                <key>sourceSize</key>
                <string>{61,13}</string>
            </dict>
            <key>obj_4_2_11_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,61},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>obj_4_2_11_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{1,1}}</string>
                <key>offset</key>
                <string>{-20.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>obj_4_2_12_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{1,1}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>obj_4_2_12_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,151},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_4_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5d71bd5a5799f5a6a20d0c9c8250ee0:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_4_2.png</string>
        </dict>
    </dict>
</plist>
