<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_2_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>obj_2_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{32,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,93}}</string>
                <key>sourceSize</key>
                <string>{32,93}</string>
            </dict>
            <key>obj_2_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,168},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>obj_2_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>obj_2_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,236},{15,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,38}}</string>
                <key>sourceSize</key>
                <string>{15,38}</string>
            </dict>
            <key>obj_2_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,116},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>obj_2_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,218},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>obj_2_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,218},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>obj_2_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{35,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,112}}</string>
                <key>sourceSize</key>
                <string>{35,112}</string>
            </dict>
            <key>obj_2_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>obj_2_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,114},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>obj_2_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,27},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>obj_2_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,160},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>obj_2_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,97},{15,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,37}}</string>
                <key>sourceSize</key>
                <string>{15,37}</string>
            </dict>
            <key>obj_2_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,114},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>obj_2_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,218},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>obj_2_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,167}}</string>
                <key>sourceSize</key>
                <string>{26,167}</string>
            </dict>
            <key>obj_2_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,205},{11,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,37}}</string>
                <key>sourceSize</key>
                <string>{11,37}</string>
            </dict>
            <key>obj_2_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,168},{10,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,55}}</string>
                <key>sourceSize</key>
                <string>{10,55}</string>
            </dict>
            <key>obj_2_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_2_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:227bfabe0c0bde3b5536ca0c585a9db2:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_2_2.png</string>
        </dict>
    </dict>
</plist>
