<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_1_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,191},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>obj_1_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,80},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>obj_1_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,81},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>obj_1_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,227},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>obj_1_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,44},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>obj_1_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,227},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>obj_1_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,81},{28,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,57}}</string>
                <key>sourceSize</key>
                <string>{28,57}</string>
            </dict>
            <key>obj_1_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,227},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>obj_1_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>obj_1_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,140},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>obj_1_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,55},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>obj_1_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,129},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>obj_1_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>obj_1_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,77}}</string>
                <key>sourceSize</key>
                <string>{56,77}</string>
            </dict>
            <key>obj_1_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,44},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>obj_1_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,229},{61,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,24}}</string>
                <key>sourceSize</key>
                <string>{61,24}</string>
            </dict>
            <key>obj_1_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>obj_1_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,191},{49,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,34}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>obj_1_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>obj_1_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_1_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:183e5495bf888dffbedc433d06effdd4:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_1_1.png</string>
        </dict>
    </dict>
</plist>
