<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_7_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,185},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>obj_7_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,76},{17,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,43}}</string>
                <key>sourceSize</key>
                <string>{17,43}</string>
            </dict>
            <key>obj_7_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,155},{28,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,69}}</string>
                <key>sourceSize</key>
                <string>{28,69}</string>
            </dict>
            <key>obj_7_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,124},{29,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,69}}</string>
                <key>sourceSize</key>
                <string>{29,69}</string>
            </dict>
            <key>obj_7_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{101,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,72}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>obj_7_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,220},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>obj_7_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>obj_7_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,235},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>obj_7_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,124},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>obj_7_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,178},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
            <key>obj_7_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{29,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,85}}</string>
                <key>sourceSize</key>
                <string>{29,85}</string>
            </dict>
            <key>obj_7_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,235},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>obj_7_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{95,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,124}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>obj_7_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,27},{10,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,52}}</string>
                <key>sourceSize</key>
                <string>{10,52}</string>
            </dict>
            <key>obj_7_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{53,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,72}}</string>
                <key>sourceSize</key>
                <string>{53,72}</string>
            </dict>
            <key>obj_7_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,223},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>obj_7_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,138}}</string>
                <key>sourceSize</key>
                <string>{23,138}</string>
            </dict>
            <key>obj_7_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>obj_7_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,185},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>obj_7_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,76},{89,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,46}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_7_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:211c4ad52e1acbe404fa532f2848cd90:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_7_4.png</string>
        </dict>
    </dict>
</plist>
