<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_7_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{9,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,42}}</string>
                <key>sourceSize</key>
                <string>{9,42}</string>
            </dict>
            <key>obj_7_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,98},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>obj_7_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,166},{12,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,37}}</string>
                <key>sourceSize</key>
                <string>{12,37}</string>
            </dict>
            <key>obj_7_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
            <key>obj_7_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{94,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,16}}</string>
                <key>sourceSize</key>
                <string>{94,16}</string>
            </dict>
            <key>obj_7_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{67,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,52}}</string>
                <key>sourceSize</key>
                <string>{67,52}</string>
            </dict>
            <key>obj_7_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,120},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>obj_7_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,120},{20,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,37}}</string>
                <key>sourceSize</key>
                <string>{20,37}</string>
            </dict>
            <key>obj_7_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,129},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>obj_7_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,149},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>obj_7_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,166},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>obj_7_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>obj_7_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,149},{58,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,101}}</string>
                <key>sourceSize</key>
                <string>{58,101}</string>
            </dict>
            <key>obj_7_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>obj_7_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,73},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>obj_7_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,149},{15,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,71}}</string>
                <key>sourceSize</key>
                <string>{15,71}</string>
            </dict>
            <key>obj_7_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,73},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>obj_7_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{119,69}</string>
            </dict>
            <key>obj_7_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,46},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>obj_7_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,186},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object_atlas_7_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ff5c2ad0dd5bb5debbe922d6f14eea:1/1$</string>
            <key>textureFileName</key>
            <string>object_atlas_7_2.png</string>
        </dict>
    </dict>
</plist>
